* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Chivo", Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #ffffff;
    color: #2d53fd;
    padding: 20px;
    text-align: center;
}

.active {
    color: blue;
}

h1 {
    margin: 0;
    font-size: 48px;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

nav {
    background-color: #ffffff;
    color: #fff;
    padding: 16px;
    text-align: center;
    border-top: 1px solid #8f8f8f;
    border-bottom: 1px solid #8f8f8f;
    font-family: Arial, sans-serif;
}

    nav a {
        color: #000000;
        text-decoration: none;
        padding: 10px 20px;
        font-weight: bold;
    }

        nav a:hover {
            color: #2d53fd;
        }

p {
    margin-bottom: 20px;
    line-height: 1.6;
    padding: 0 12%;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 13%;
}

footer {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    text-align: center;
    margin-top: auto;
    border-top: 1px solid #8f8f8f;
}

